<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>913576419098-j8eirjbcmsjtvkionutsakdjp7198ddd.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.913576419098-j8eirjbcmsjtvkionutsakdjp7198ddd</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>913576419098-0gpfv3g07loa6d3bnu10pksr0sd4jrgm.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyCUOMvyuDJYFu_dY9jeUI7HoiextDQuVMs</string>
    <key>GCM_SENDER_ID</key>
    <string>913576419098</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.ecglibrary</string>
    <key>PROJECT_ID</key>
    <string>ecg-library</string>
    <key>STORAGE_BUCKET</key>
    <string>ecg-library.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:913576419098:ios:1c0387e2651790ea43d6a3</string>
</dict>
</plist>
