<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247707053126-8ghk8jf3mbbsmnbtm1t0c8149sbukiqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247707053126-8ghk8jf3mbbsmnbtm1t0c8149sbukiqa</string>
	<key>API_KEY</key>
	<string>AIzaSyBdO6LYRCK6IBkjDxqRPBqK-Kmro_t8AoI</string>
	<key>GCM_SENDER_ID</key>
	<string>247707053126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecglibrary</string>
	<key>PROJECT_ID</key>
	<string>ecg-corner</string>
	<key>STORAGE_BUCKET</key>
	<string>ecg-corner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247707053126:ios:61363bfae7144c9e6e2e47</string>
</dict>
</plist>